/* General */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    margin-top: 100;
}

span{
    display:inline-block;
}
body {
    font-family: "Anonymous Pro", serif;
    font-weight: 400;
    background-color: #0d0d0d;
    background-repeat: no-repeat;}
img {
    max-width: 100%;}
button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all 500ms ease;}
button:hover:not(.button){
    cursor: pointer;
    transform: scale(1.05);}
/* Haeder */
.container{
    padding: 0 180px 0 180px;}
header:not(.FAQ){
    padding: 10px 0;}
header{
    background-image: url(/src/img/BackGroundHeadPage1.svg);
    background-repeat: no-repeat;}
header nav{
    float: right;
    width: 534px;
    margin-top: -4px;}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;}
header nav ul li{
    display: block;}
header nav ul li button p:not(.FAQ){
    font-family: "Anonymous Pro", serif;
    font-size: 18px;
    color: #f9f9f9;}
header nav ul li button:hover {
    border-bottom: 1px solid #f9f9f9;}
.FAQ{
    font-family: "Anonymous Pro", serif;
    font-size: 14pt;
    text-shadow:
    1px 0 1px #5EF5E3, 
    0 1px 1px #5EF5E3, 
    -1px 0 1px #5EF5E3, 
    0 -1px 1px #5EF5E3;
    color: #5EF5E3;
    margin-top: 18px;}

/* Hero on Page1 */
.button{
    display: block;
    background: #5EF5E3;
    padding: 8px 68px;
    border: 1px solid #0d0d0d;
    border-radius: 10px;
    border-color: #0d0d0d;
    font-size: 40px;
    font-weight: bold;
    font-family: "Anonymous Pro", serif;
    box-shadow: 6px 6px 10px #5EF5E3;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.page--one{
    /* Theme */
    background-image: url(/src/img/BackGroundPage1.svg);
    background-repeat: no-repeat;

    /* Size */
    width: 100%;}

.hero{
    display: inline-flex;
    /* Margins */
    padding-top:    36px;
    padding-bottom: 100px;

    /* Size */
    max-width: 1408;
    max-height: 708;}

.hero--info{
    /* Font settings */
    color: #f9f9f9;
    font-size: 50px;
    font-weight: 600;

    /* Theme */
    background-image: url(/src/img/BackGroundMessagePage1.svg);
    background-repeat: no-repeat;

    /* Max size seting */
    max-width: 1400px;
    max-height: 700px;}

.button--swap{
    border-radius: 30px;
    box-shadow: 0px 10px 16px #0d0d0d;}

.span--btnswp{
    display: inline-block;
    padding-inline: 60px;
    padding-block: 320px;
}

.span--btnswprght{
    display: inline-flex;
}



.panel--pageone{
    display: inline-block;
    padding-top: 100px;
}

.top{
    margin-top: 9px;}